.Favorite{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.Favorite__header{
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Favorite__header .img__header{
    object-fit: contain;
    height: 4vh;
    position: relative;
    left: 30.5vw;
    
}

.Favorite__header .header__button{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8vw;
}

.favorites{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 18vh;
    box-sizing: border-box;
}

.favorite__empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
    top: 60%;
    gap: 2.7vh;
}

.favorite__empty img{
    position: relative;
    left: 2.5%;
}