@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --dark: rgb(19, 19, 19);
    --light-dark: rgb(35, 38, 45);
    --grey: rgb(180, 181, 183);
    --light: rgb(247, 247, 249);
}

.HomePage{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.homePage__header{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 6% 4% 1% 4%;
}

.homePage__header .user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid blue; */
    gap: 4%;
    width: 70%;
    margin-left: 3%;
}

.homePage__header .user .img__user{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
    border-radius: 14px;
    
}

.homePage__header .user .img__user > img{
    width: 90%;
    aspect-ratio: 1;
}

.homePage__header .user .info__user span{
    color: var(--grey);
    font-size: 14px;
    font-weight: 600;
}

.homePage__header .user .info__user h4{
    font-size: 16px;
    margin: 0;
}

.homePage__header .notifications{
    width: 20%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePage__header .notifications .notifications__button{
    width: 55px;
    height: 55px;
    background-color:var(--light) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 14px;
}

.search{
    width: 90%;
    border-bottom: 3px solid rgb(180, 181, 183,0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.search input {
    outline: none;
    border: none;
    width: 85%;
    color: var(--dark);
    font-weight: 700;
    font-size: 16px;
}

.search .search__button{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

.categories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 80px;
    margin-top: 5%;
}


.products{
    width: 100%;
    margin-top: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6vh;
    padding-bottom: 40%;
}
.categories .back{
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    background-color: var(--grey);
    border: none;
    position: absolute;
    right: 5vw;
    top: 12.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    margin-top: 10%;
}

.products .error__notFound{
    width: 100%;
    margin-top: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6vh;
    padding-bottom: 40%;
}

.products .error__notFound > img{
    width: 300px;
    object-fit: contain;
}


