:root{
    --dark: rgb(19, 19, 19);
    --light-dark: rgb(35, 38, 45);
    --grey: rgb(180, 181, 183);
    --light: rgb(247, 247, 249);
}



.ProductCard{
    height: 280px;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1%;
    box-shadow: 0px 40px 60px -30px rgb(180, 181, 183,0.6);
}

.ProductCard:hover{
    transform:translateY(2%);
    box-shadow: 0px 40px 90px -30px rgb(180, 181, 183,1);
    transition: transform  0.2s ease-out;
}

.ProductCard .images{
    width: 100%;
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.ProductCard .images::-webkit-scrollbar{
    display: none;
}

.ProductCard .images .images__item{
    object-fit: contain;
    height: 150px;
    scroll-snap-align: center;
    flex: 0 0 100%;
}

.ProductCard .index__points{
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    position: relative;
    top: 8%;
}

.ProductCard .index__points .active{
    content: '';
    width: 25px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--grey);
    transition: 0.2s ease-in-out;
}

.ProductCard .index__points .inactive{
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: rgb(180, 181, 183,0.4);
    transition: 0.2s ease-in-out;
}

.ProductCard .footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    margin-top: 4%;
    height: 100px;
}

.ProductCard .footer .description{
    /* border: 1px solid blue; */
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    margin-left: 4%;
}

.ProductCard .footer .description h3,h5{
    margin: 0;
}

.ProductCard .footer .description h5{
    color: rgb(180, 181, 183,0.6);
}


.ProductCard .footer .cart__button{
    background-color: var(--dark);
    border: none;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    padding: 0;
    z-index: 6;
}

.ProductCard .footer .cart__button > svg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProductCard .cart__button > svg >  path{
    width: 100%;
    height: 100%;
}

.ProductCard .seeMore{
    width: 50%;
    height: 20%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
    backdrop-filter: blur(4px);
    background-color: rgb(247, 247, 249,0.3);
}

.ProductCard .seeMore .more__button{
        background: #fff; /* color de fondo */
        color: var(--dark); /* color de fuente */
        border: 2px solid var(--dark); /* tamaño y color de borde */
        padding: 16px 20px;
        border-radius: 8px; /* redondear bordes */
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block;
        background-color: var(--light);
}

.ProductCard .seeMore .more__button:hover{
        color: #fff; /* color de fuente hover */
    
}

.ProductCard .seeMore .more__button::after{
    content: "";
    background: var(--dark); /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.ProductCard .seeMore .more__button:hover::after{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}