@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --dark: rgb(19, 19, 19);
    --light-dark: rgb(35, 38, 45);
    --grey: rgb(180, 181, 183);
    --light: rgb(247, 247, 249);
}

.Login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 100vh;
    bottom: 5vh;
    font-family: 'Poppins', sans-serif;
}

.Login > img{
    position: fixed;
    top: -20vh;
    right: -50vw;
    opacity: 0.15;
    width: 450px;
}

.login__img{
    position: relative;
    top:-3vh;
    right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    width: 100%;
}

.login__img p{
    margin: 0;
    font-size: 25px;
    color: #50f16c;
}


.login__img .cart{
    width: 100px;
    /* border: 1px solid red; */
}

.background{
    content: '';
    background-color:rgb(220, 102, 100,0.3);
    width: 450px;
    height: 450px;
    position: fixed;
    left: -50vw;
    top: -7vh;
    z-index: -1;
    border-radius: 275px;
}


.login__form{
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    position: relative;
    margin-bottom: 3vh;
}

.login__form__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.login__form__text h2,h4{
    margin: 0;
}

.login__form__text h4{
    color: var(--grey);
    font-weight: 500;
}

.login__form__input{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.login__form__button{
    width: 100%;
}


.email{
    border:2px solid rgb(180, 181, 183,0.6);
    height: 7vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email .icon{
    width: 20%;
    border-right: 2px solid rgb(180, 181, 183,0.6);
    height: 7vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email .email__icon{
    font-size: 30px;
    padding: 0;
    color: var(--light-dark)
}

.email .content{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* border: 2px solid rgb(180, 181, 183,0.3); */
    height: 7vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
    padding: 2%;
    gap: 0.4vh;
}

.email .content input{
    outline: none;
    /* border:1px solid rgb(35, 38, 45 ,0.2); */
    border: none;
    border-radius: 10px;
    padding: 0 0 0 2%;
    font-weight:700 ;
    color:rgb(35, 38, 45);
    width: 85%;
}


.email .content input::placeholder{
    font-family: 'Poppins', sans-serif;
    color:var(--grey);
}



.email .content label{
    margin-left: 0.8vh;
    color: var(--grey);
    font-size: 14px;
    
}

.password{
    border:2px solid rgb(180, 181, 183,0.6);
    height: 7vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password .icon{
    width: 20%;
    border-right: 2px solid rgb(180, 181, 183,0.6);
    height: 7vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password .password__icon{
    font-size: 30px;
    padding: 0;
    color: var(--light-dark)
}

.password .content__input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.password  .content{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* border: 2px solid rgb(180, 181, 183,0.3); */
    height: 7vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
    padding: 2%;
}

.password  .content input{
    outline: none;
    /* border:1px solid rgb(35, 38, 45 ,0.2); */
    border: none;
    border-radius: 10px;
    padding: 0 0 0 2%;
    font-weight:700 ;
    color:rgb(35, 38, 45);
    width: 85%;
}


.password .content input::placeholder{
    font-family: 'Poppins', sans-serif;
    color:var(--grey);
}



.password .content label{
    margin-left: 0.8vh;
    color: var(--grey);
    font-size: 14px;
    
}

.password .content__input .show__password{
    width: 20px;
    height: 20px;
    background: none;
    margin-right: 1vh;
    border: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(35, 38, 45,0.5);
}

.login__form__button{
    background: var(--dark);
    color: var(--light);
    height: 55px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400 ;
    border: none;
}

.sign__up{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;
    color:rgb(35, 38, 45);
    font-size: 12px;
    margin-right: 2vw;
}

.sign__up p{
    margin: 0;
}

.sign__up a{
    text-decoration: none;
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.remember__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;
}

.remember__container p{
    margin: 0;
    font-size: 14px;

}

.remember-active{
    content: '';
    width: 40px;
    height: 20px;
    background-color: rgb(11, 141, 50);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: none;
}

.remember-inactive{
    content: '';
    width: 40px;
    height: 20px;
    background-color: var(--grey);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
}

.round-active{
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 7px;
    z-index: 3;
    background-color: white;
    margin-right: 10%;
}

.round-inactive{
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 7px;
    z-index: 3;
    background-color: white;
    margin-left: 10%;
}

.sign__up__link{
    cursor: pointer;
}

