:root{
    --dark: rgb(19, 19, 19);
    --light-dark: rgb(35, 38, 45);
    --grey: rgb(180, 181, 183);
    --light: rgb(219, 219, 219);
}
.Category-false{
    width: auto;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(219, 219, 219);
    color: black;
    border: none;
    padding: 0 4% 0 4%;
}

.Category-true{
    width: auto;
    height: 30px;
    border-radius: 15px;
    background-color: var(--dark);
    color: white;
    border: none;
    padding: 0 4% 0 4%;
}

